[submodule "Submodules/imgui"]
	path = Submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Submodules/DirectXTex"]
	path = Submodules/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
